
<footer class="footer border-t">
    <div class="content has-text-centered">
        <p>
            &copy; <a href="#">Sortir.com</a> | L'expérience d'une sortie réussie.
        </p>
    </div>
</footer>