{% extends 'main/base.html.twig' %}

{% block body %}
  <header class="p-3 mt-16">
    {% include 'layouts/_header.html.twig' %}
  </header>

  <nav class="fixed top-0 left-0 right-0 z-50">
    {% include 'layouts/_navigation.html.twig' %}
  </nav>


  <main class="container p-6 my-24 bg-opacity-90 backdrop-blur-md rounded-md shadow-xl">
    {% block content %}{% endblock %}
  </main>




  <footer class="p-3 mt-4">
    {% include 'layouts/_footer.html.twig' %}
  </footer>
{% endblock %}
