{% extends 'base.html.twig' %}

{% block body %}
<header class="p-3">
  {% include '_header.html.twig' %}
</header>

<nav class="p-3">
  {% include '_navigation.html.twig' %}
</nav>

<main class="container p-4 my-4 rounded shadow-sm">
  {% block content %}{% endblock %}
</main>

<footer class="p-3 mt-4">
  {% include '_footer.html.twig' %}
</footer>
{% endblock %}