body {
    background-color: floralwhite;
}
header {
    background-color: cornflowerblue;
}
nav {
    background-color: lightcoral;
}
main {
    background-color: lightblue;
}
footer {
    background-color: midnightblue;
}