/*dl {*/
/*    display: grid;*/
/*    grid-template-columns: max-content auto;*/
/*    gap: 8px;*/
/*}*/

/*dt {*/
/*    font-weight: bold;*/
/*}*/

.delete-button {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.delete-button:hover {
    background-color: #ff3860; /* couleur rouge Bulma */
    color: #fff;
}

.hover-primary {
    /* Éventuellement une transition pour un effet plus fluide */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card-footer .card-footer-item.hover-primary:hover {
    background-color: #00d1b2 !important;
    color: #fff !important;
}


