{% extends 'layouts/layout.html.twig' %}
{% block title %}Créer un lieu !{% endblock %}

{% block content %}
    <div class="container">
        <div class="columns is-variable is-5 is-align-items-flex-start">
            <div class="column">
                <h1 class="title">Créer un lieu</h1>
                <div class="field">



