{% extends 'layouts/layout.html.twig' %}
{% block title %}Créer un lieu !{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8">
                <div class="box">
                    <h1 class="title">Créer un lieu</h1>

                    {{ form_start(lieuForm) }}
                        <div class="field">
                            {{ form_widget(lieuForm) }}
                        </div>
                        <div class="field">
                            <a href="{{ path('app_ajouterVille') }}" class="button is-link is-light">
                                Ajouter une ville
                            </a>
                        </div>
                        <div class="field">
                            <div id="map" class= "z-0"  style="height: 400px;"></div>
                        </div>
                        <div class="field has-text-centered">
                            <button type="submit" class="button is-primary">Ajouter le lieu</button>
                        </div>
                    {{ form_end(lieuForm) }}
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var map = L.map('map').setView([48.1173, -1.6778], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);
    var marker = L.marker([48.11198, -1.67429], {draggable: true}).addTo(map);

    function updateLatLng(lat, lng) {
        document.getElementById("lieu_latitude").value = lat;
        document.getElementById("lieu_longitude").value = lng;
    }

    marker.on('dragend', function (event) {
        var position = marker.getLatLng();
        console.log("Marker moved:", position.lat, position.lng);
        updateLatLng(position.lat, position.lng);
    });

    map.on('click', function (event) {
        marker.setLatLng(event.latlng);
        updateLatLng(event.latlng.lat, event.latlng.lng);
    });
</script>
{% endblock %}
